
<div class="jumbotron">

    <div id="main">
        <div id="topContainer">
            <div class="d2-d9 c2-c9 m2 desktopOnly">


                <div class="mod_article first last block" id="slider-348">



                    <div id="flexslider_desktop">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <a href="honoraraerzte/infos" title="Angebote für Ärztinnen und Ärzte">
                                        <img src="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_aerzte_small.jpg" alt="Angebote für Ärztinnen und Ärzte"
                                             srcset="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_aerzte_big.jpg 1500w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_aerzte_medium.jpg 1000w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_aerzte_small.jpg 800w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_aerzte_xsmall.jpg 600w"
                                             sizes="(max-width: 800px) 600px, (max-width: 1024px) 800px, (max-width: 1400px) 1000px, (min-width: 1401px) 1500px">
                                    </a>
                                </li>
                                <li>
                                    <a href="pflegekraefte/infos" title="Angebote für Pflegefachkräfte">

                                        <img src="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_02_pflege_small.jpg" alt="Angebote für Pflegefachkräfte"
                                             srcset="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_02_pflege_big.jpg 1500w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_02_pflege_medium.jpg 1000w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_02_pflege_small.jpg 800w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_02_pflege_xsmall.jpg 600w"
                                             sizes="(max-width: 800px) 600px, (max-width: 1024px) 800px, (max-width: 1400px) 1000px, (min-width: 1401px) 1500px">

                                    </a>
                                </li>
                                <li>
                                    <a href="krankenhaeuser/infos" title="Informationen für Krankenhäuser, Rehakliniken und Pflegeheime">
                                        <img src="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_03_klinik_small.jpg" alt="Informationen für Krankenhäuser, Rehakliniken und Pflegeheime"
                                             srcset="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_03_klinik_big.jpg 1500w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_03_klinik_medium.jpg 1000w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_03_klinik_small.jpg 800w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_03_klinik_xsmall.jpg 600w"
                                             sizes="(max-width: 800px) 600px, (max-width: 1024px) 800px, (max-width: 1400px) 1000px, (min-width: 1401px) 1500px">
                                    </a>
                                </li>

                                <li>
                                    <a href="bonusprogramm" title="doctari Bonusprogramm für Ärzte und Pflegekräfte">
                                        <img src="https://www.doctari.de/files/doctari-de/images/slider/doctari_slider_bonus_small.jpg" alt="doctari Bonusprogramm für Ärzte und Pflegekräfte"
                                             srcset="https://www.doctari.de/files/doctari-de/images/slider/doctari_slider_bonus_big.jpg 1500w, https://www.doctari.de/files/doctari-de/images/slider/doctari_slider_bonus_small.jpg 800w, https://www.doctari.de/files/doctari-de/images/slider/doctari_slider_bonus_medium.jpg 1000w, https://www.doctari.de/files/doctari-de/images/slider/doctari_slider_bonus_xsmall.jpg 600w"
                                             sizes="(max-width: 800px) 600px, (max-width: 1024px) 800px, (max-width: 1400px) 1000px, (min-width: 1401px) 1500px">
                                    </a>
                                </li>

                                <li>
                                    <a href="pflegekraefte/bewerbung-festanstellung" title="doctari Festanstellung ANÜ">
                                        <img src="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_anue_small.jpg" alt="doctari Festanstellung ANÜ"
                                             srcset="https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_anue_big.jpg 1500w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_anue_medium.jpg 1000w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_anue_small.jpg 800w, https://www.doctari.de/files/doctari-de/images/slider/doctari_d_slider_start_01_anue_xsmall.jpg 600w"
                                             sizes="(max-width: 800px) 600px, (max-width: 1024px) 800px, (max-width: 1400px) 1000px, (min-width: 1401px) 1500px">
                                    </a>
                                </li>






                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="row">
                    <div class="col-md-4">
                        <!--<h2>Getting started</h2>
                        <p>
                            Angular 2 gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
                    </div>
                    <div class="col-md-4">
                        <!--<h2>Get more libraries</h2>
                        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
                    </div>
                    <div class="col-md-4">
                        <!--<h2>Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
                    </div>
                </div>
